@media only screen and (max-width : 1024px) {
    
    
    .text-left-box .text-left-content {
        font-size: 3vh;
        padding: 2%;
        letter-spacing: 0.2%;
        color: grey;
        filter: blur(1px)
    }
    
    
    .text-right-box .text-right-content {
        font-size: 3vh;
        color: white;
        padding: 2%;
        letter-spacing: 0.2%;
        color: grey;
        filter: blur(1px)
    }
    
    
    
    .menu-box .menu-word{
        font-size: 3vh;
        filter: blur(0vh);
        color: lightgoldenrodyellow;
        
    }
    
    .skillnav .skillnav-box {
        width: 45%;
    }
    
    
}





@media only screen and (max-width: 667px) {
    
    
    .text-left-box .text-left-content {
        font-size: 80%;
        padding: 2%;
        letter-spacing: 0.2%;
        color: white;
    }
    
    
    .text-right-box .text-right-content {
        font-size: 80%;
        color: white;
        padding: 2%;
        letter-spacing: 0.2%;
    }
    
    
    
    .menu-box .menu-word{
        font-size: 3vh;
        filter: blur(0vh);
        color: lightgoldenrodyellow;
        
    }
    
    .skillnav .skillnav-box {
        width: 60%;
    }
    
    
    
    
    
}