/* 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1) 
  {  
    #desktop {
      display: none;
    }

  .container {
      background-color:white;
  }

  #ihome {
      font-size: 1vh;
  }
  #tablet {
    display: block;
  }
 
  #phone {
    display: none;
  }

}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    
    
} */

@media only screen and (max-width: 667px) {
    #ihome {
      font-size: 5vh;
   
    }

    #ibio {
      font-size: 5vh;
   
    }

    #ichess {
      font-size: 5vh;
   
    }

    #icontact {
      font-size: 5vh;
   
    }

    .top-right-text-box {
     width: 10vh;
    }



     .home-box {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
  
  }



  
  .bottom-icon {
   
    padding: 2vh 2vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-icon {
  height: 14vw;
  width: 14vw;
}

.bio-icon {
  height: 14vw;
  width: 14vw;

}

.skills-icon {
  height: 14vw;
  width: 14vw;

}

.contact-icon {
  height: 14vw;
  width: 14vw;

}

}