@import 'colours.css';
@import 'icon.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');
@import 'media_querySkills-page.css';


* {
    margin: 0px;
}


.container {
    height: 100vh;
    background: url(./shade-2560x1440-blue-aqua-stock-hd-9701.jpg)
    
}

.grid {
    height: 100%;
    width: 100%;
    display: grid;
    /* background: pink; */
    grid-template-rows: 0.2fr 0.67fr 0.13fr;
}


.menu-box {
    grid-column: 2 / 3;
    /* grid-row: 1/ 2; */
    /* background: green; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    
    
}

.menu-word {
    -webkit-text-stroke: 2px;
    font-family: roboto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin : 2vh 2vh;;
    font-size: 5vh;
    /* background: white; */ 
    padding: 1.6vh 1.6vh; 
    filter: blur(0.01vh);
    
    
    
}

.dropdown-content {
    display: none;
    position: absolute;
    margin: 0vh 1vh;
    min-width: 20vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 1.2vh 1.6vh;
    text-decoration: none;
    display: block;
}

.menu-word:hover {
    color: lightblue;
}


.dropdown-content:hover {background-color: transparent;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbutton {background-color: lightblue;}



.page-number-box {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    /* background: green; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2% 1%;
    margin-top: 5%;
    margin: 1vh 1vh;
    
}

.page-number-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 1%;
}


.blur-logo-box { 
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    /* background: green;  */
    display: grid;
    grid-template-columns: 0.4fr 0.2fr 0.4fr;
    
}

.text-left-box {
    grid-column: 1 / 2;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    /* background: lightcoral;  */
}

.text-left-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 7vh;
    font-family: roboto;
    padding: 2%;
    flex-wrap: wrap;
    letter-spacing: 0.2%;
}

.logo-logo {
    grid-column: 2 / 3;
    
    /* background: red;  */
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

.logo-word {
    font-size: 18vh;
    filter: blur(3px);
    margin: 0% 0% 0% 10%;
    color: transparent;
    -webkit-text-stroke: black 1px;
    font-family: noto serif;
}



.text-right-box {
    grid-column: 3 / 4; 
    display: flex;
    justify-content: flex-end;
    height: 100%;
    /* background: purple; */
    
}

.text-right-content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 7vh;
    font-family: roboto;
    padding: 2%;
    flex-wrap: wrap;
    letter-spacing: 0.2%;
}


.skillnav {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    /* background: blue;  */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.skillnav-box {
    position: absolute;
    width: 19%;
    height: 8.3%;
    /* margin: 0px 30px; */
    background: rgba(16, 23, 42, 0.43);
    font-size: 3vh;
    font-weight: 100;
    font-family: Roboto;
    color: #84E5FE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vh;
    margin: 0% 0% 0% 8%;
    letter-spacing: 0.8vh;
}
